.robots-list {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 310px);
  grid-gap: 5px;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-between; */
}

.cards-list {
  display: flex;
}
